<app-nav></app-nav>
<div class="container-fulid">
    <div class="row">
        
        <div class="col-md-12 col-12 ">

            <div class="carousel slide" id="mycar" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item"><img style="width:100%;height:600px;" src="https://wallpaperaccess.com/full/124493.jpg " alt=""></div>
                    <div class="carousel-item"><img style="width:100%;height:600px;" src="https://wallpaperaccess.com/full/266388.jpg" alt=""></div>
                    <div class="carousel-item active"><img style="width:100%;height:600px;" src="https://2.bp.blogspot.com/-c2Qma9InxsA/Vw-ix_1227I/AAAAAAAAE-U/w1FwCvr1d1kQvj-Sgd27pTaBDwUgl7dpwCLcB/s1600/Quotes-about-books-and-reading-wallpapers%25281%2529.jpg" alt=""></div>
                    <div class="carousel-item"><img style="width:100%;height:600px;" src="https://wallpaperaccess.com/full/266283.jpg" alt=""></div>

                    <a href="" class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#mycar"><span class="carousel-control-prev-icon"></span></a>
                    <a href="" class="carousel-control-next" data-bs-slide="next"  data-bs-target="#mycar"><span class="carousel-control-next-icon"></span></a>

                </div>
            </div>


        </div>
    </div>
</div>
